/*
Site: Manpower
Author: Thirsty Boy
Version: 1.0
*/


@import url('type.css');

h1   {font-family: DIN-Medium, Arial, Helvetica, sans-serif; font-size: 2em; }
h2   {font-family: DIN-Medium, Arial, Helvetica, sans-serif; font-size: 1.5em;}
h3   {font-family: DIN-Medium, Arial, Helvetica, sans-serif; font-size: 1.3em;}
h4   {font-family: DIN-Medium, Arial, Helvetica, sans-serif; font-size: 1.2em;}
h6   {font-family: DIN-Bold, Arial, Helvetica, sans-serif; font-size: 1.2em;}
img  {max-width: 100%;}
body {font-family: DIN-Medium, Arial, Helvetica, sans-serif; overflow-y:hidden; overflow-x:hidden;}
html {min-height: 100% ; position: relative; overflow-y:scroll; overflow-x:hidden;}
strong {font-family:DIN-Bold, Arial, Helvetica, sans-serif;}
.p0   {padding: 0 !important;}
.p1   {padding: 1em;}
.p1-2 {padding:1em 2em;}
.p1-0 {padding: 1em 0;}
.p0_5 {padding: 0 .5em;}
.p0-1 {padding: 0 1em;}
.p2   {padding: 2em;}
.p7-2   {padding:7em 2em;}
.p_5_2   {padding:.5em 2em !important;}
.m0   {margin: 0!important;}
.m1-0 {margin: 1em 0 !important;}
.m2-0 {margin: 2em 0 !important;}
.m3-0 {margin: 3em 0 !important;}
.m2_5 {margin: 2em 0 5em 0 !important;}
.mt-7  {margin-top: .7em !important;}
.mt1  {margin-top: 1em !important;}
.mb0  {margin-bottom: 0 !important;}
.mt-5 {margin-top: .5em;}
.mb2 {margin: 0 0 2em 2em !important;}
.mb2-0 {margin-bottom: 2em !important;}  
.mb1-0 {margin-bottom: 1em !important;}  
.mt2 {margin: 2em 0 0 2em !important;} 
.mt2-0 {margin-top: 2em;}
.mr1 {margin-right: 1em !important;}
.ml2 {margin-left: 2em !important;}
.mtb1-0 {margin: 1em 0 !important;}
.ml-3 {margin-left: -3em !important;}
.mr4 		 {margin-right: 2em;}
.full-width {width: 100%;display: inline-block;}
.left 		{float: left;}
.right 		{float: right;}
.ls1   {letter-spacing: .1em;}
.ls2   {letter-spacing: .2em;}
.w100  {width: 100%;}
.lh2-2 {line-height: 2.2em;}
.no_ls {list-style: none;}
.rd5   {-webkit-border-radius: 5px !important; -moz-border-radius: 5px !important; border-radius: 5px !important;} 
.fs1-1 {font-size: 1.1em;}
.fs1-2 {font-size: 1.2em;}
.fs1-5 {font-size: 1.5em;}
.fs2 {font-size: 2em;}
.col-centered{float: none; margin: 0 auto;}
.center {text-align: center !important; word-wrap:break-word;}
.lite {		font-family: DIN-light, Arial, Helvetica, sans-serif;}
.col-md-3-5, .col-sm-3-5 {width: 32% !important;}
.close {font-size: 2em; margin-top: -.3em !important; float: right; filter: alpha(opacity=50); opacity: .5;}
.clear {width: 100%; display: inline-block; clear: both;}

@media only screen and (max-width: 925px) { 
.col-md-3-5, .col-sm-3-5 {width:31.6% !important;}

}

@media only screen and (max-width: 767px) { 
.col-md-3-5, .col-sm-3-5 {width:100% !important;}
.options_wrp {margin:0!important;}
}

/* ==== HOME SIGN IN PAGE CSS ==== */

#signinPage {background: url('../images/city_bg.jpg') no-repeat center center fixed; -moz-background-size: cover; -webkit-background-size: cover; -o-background-size: cover;background-size: cover;}
#signinPage .page_wrp {max-width: 764px; min-height: 100%; margin: 0 auto;}
#main {overflow:auto; padding-bottom:0px; margin: 0 auto;}
.welcome_bx {width: 100%; min-height: 287px; display: block; background:url(../images/transW_bg.png) repeat; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border: 1px solid rgba(40, 42, 50, 0.3); margin:5em 0 1.4em 0; padding: 2em;}
#registrationPage {background:url(../images/main_bgTile.jpg) repeat-y;}

.welcome_bx .logo {float: left;	width: 40%; height: auto;}

@media only screen and (max-width: 767px) { .signinLogo #logo {	padding: 1em 8em; } }

@media only screen and (max-width: 585px) { .signinLogo #logo { padding: 1em 2em; } }

#logo {width: 100%; height: auto;}

.welcome_bx p {line-height: 1.8em;}

label.checkbx { display: inline-block; margin-left: 6px;}

select.language {
		border:  1px #a1a1a1 solid;
		-webkit-appearance: none; 
		-moz-appearance: none; 
		background: #fff url(../images/select-arrow.png) no-repeat 90% center;
		width: 100%; 
		text-indent: 1em; 
		text-overflow: "";  
		color: #2e3037;
		border-radius: 15px;
		padding: 5px;
		box-shadow: inset 0 0 1px #d3d3d3 ;
		float: right;
		font-size: .9em;
	}


.signin_bx {
	width: 100%;
	min-height: 462px;
	display: block;
	background:url(../images/transW_bg.png) repeat;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid rgba(40, 42, 50, 0.3);
	margin:0 0 10em 0;
}

.signIn_left {
	border-right:1px solid #cdcdce;
	min-height: 462px;
}
@media only screen and (max-width: 767px) {
    /* tablets and desktop */

.signIn_left {
	border-bottom:1px solid #cdcdce;
	min-height: 462px;
}
}
.forgot {
	color: #a0a0a0;
	font-size: .8em;
	letter-spacing: .1em;
}

.forgot a {
	color: #a0a0a0;
	text-decoration: underline;
}

h2.si_title {
	margin: 1em 0 2em 0;
}

input.signinInput {
		border: 1px #a1a1a1 solid;  /*Removes border*/
		-webkit-appearance: none;  /*Removes default chrome and safari style*/
		-moz-appearance: none; /* Removes Default Firefox style*/
		width: 75%; /*Width of select dropdown to give space for arrow image*/
		text-indent: 1em; /* Removes default arrow from firefox*/
		text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
		color: #aeaeae;
		border-radius: 15px;
		padding: 5px;
		box-shadow: inset 0 0 4px #cecfce;
		float: left;
		font-size: 1em;
		margin: -6% 25% 7% 0;
	}

input.signinBTN {
		border:none;  /*Removes border*/
		-webkit-appearance: none;  /*Removes default chrome and safari style*/
		-moz-appearance: none; /* Removes Default Firefox style*/
		width: 38%; /*Width of select dropdown to give space for arrow image*/
		text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
		color: #fff;
		border-radius: 15px;
		padding: 7px;
		background:#e77c22;
		float: left;
		font-size: .8em;
		letter-spacing: .2em;
		margin: 5% 25% 9% 0;
	}

footer.signin {
	height:110px;
	width: 100%;
	background:url(../images/transD_bg.png) repeat;
	border: 0;
	position:absolute;
	margin-top: -110px; /* negative value of footer height */
	height: 110px;
	clear:both;
	margin-bottom: 0;
	bottom: 0;
}

.signin ul.footerNav {
	margin: 1.8em auto;
	width: 100%;
	text-align: center;
}
.signin ul.footerNav li {
	list-style: none;
	margin: 0 10px;
	display: inline-block;
}
.signin ul.footerNav li a {
	color: #fff;
}

.signin  .copyright {
	text-align: center;
	color: #fff;
}

input.registerBTN {
		border: solid 2px #e77c22;
		-webkit-appearance: none;
		-moz-appearance: none;
		width: 87%;
		text-overflow: "";
		color: #e77c22;
		border-radius: 30px;
		padding: .6em 0 .5em 0;
		background: none;
		/* box-shadow: inset -6px -4px 3px rgb(321,124,34); */
		display: inherit;
		letter-spacing: .3em;
		font-size: .8em;
		margin: 1% auto 7% auto;
		font-family: DIN-Bold, Arial, Helvetica, sans-serif;
		float: none !important;
	}



input[type="text"] {
		border:  1px #a1a1a1 solid;
		-webkit-appearance: none;  /*Removes default chrome and safari style*/
		-moz-appearance: none; /* Removes Default Firefox style*/
		text-indent: 1em; /* Removes default arrow from firefox*/
		text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
		color: #aeaeae;
		border-radius: 15px;
		padding: 5px;
		font-size: 1em;
		box-shadow: inset 0 0 1px #d3d3d3 ;
	}

.regInput { width: 60%; margin: 0% 25% 7% 0;}
.regCode {margin: 0% 25% 1% 0;}

.registraion_form input[type="text"]   {margin-bottom: 2em;}
.registraion_form  .serviceOffice 	   {margin: 5em 0 1em 0; font-size: 1em;}
.registraion_form  .serviceOffice span {font-size: .8em;}

.smCircle { width: 1.1em; height: 1.1em; border-radius: 50px; font-size: 17px; color: #fff; line-height: 1em; text-align: center; background: #5aa3d3 !important; display: inline-block; padding-right:1.2em; margin-right: .5em;}
.smCircle button {color: #fff; background: none !important; border:none !important;}
.popover {color: #000 !important;}
div.smCircle>div.popover>.popover-content {font-size: .8em; font-family: DIN-light;}
div.smCircle>div.popover>.popover-title {font-size:.9em; background: #bad6f7; padding: .5em; letter-spacing: .1em; text-align: center; text-transform: uppercase;;}
div.smCircle>.popover>.arrow {display: none !important;}

label {font-size:.8em;}
span.error_message {color: red; width: 100%; clear: both; letter-spacing: .1em; font-weight: bold;}

/* ==== HOME SIGN IN PAGE CSS ==== */


.dashboard {background-color: #eeeeee;}

select.regLanguage {
		border:  1px #a1a1a1 solid; /*Removes border*/
		-webkit-appearance: none;  /*Removes default chrome and safari style*/
		-moz-appearance: none; /* Removes Default Firefox style*/
		background: #fff url(../images/select-arrow.png) no-repeat 90% center;
		width: 100%; /*Width of select dropdown to give space for arrow image*/
		text-indent: 1em; /* Removes default arrow from firefox*/
		text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
		color: #2e3037;
		border-radius: 15px;
		padding: 6px;
		box-shadow: inset 0 0 1px #d3d3d3 ;
		float:left;
		font-size: .9em;
	}

input.contBTN {
		border:none;  /*Removes border*/
		-webkit-appearance: none;  /*Removes default chrome and safari style*/
		-moz-appearance: none; /* Removes Default Firefox style*/
		/* width: 18%; */
		text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
		color: #fff;
		border-radius: 15px;
		padding: 8px;
		background:#e77c22;
		float: left;
		font-size: .8em;
		letter-spacing: .3em;
		margin: 3% 5% 5% 0;
		text-transform: uppercase;
}	

input.canBTN {
		border:none;  /*Removes border*/
		-webkit-appearance: none;  /*Removes default chrome and safari style*/
		-moz-appearance: none; /* Removes Default Firefox style*/
		/*width: 18%; Width of select dropdown to give space for arrow image*/
		text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
		color: #fff;
		border-radius: 15px;
		padding: 8px;
		background:#b7b7b7;
		float: left;
		font-size: .8em;
		letter-spacing: .3em;
		margin: 3% 5% 5% 0;
		text-transform: uppercase;
}

.reg_bntWRP{ float: left; width: 100%;}


footer.dashfooter { height:77px; bottom:0; margin:2em 0 0 -200px; margin-left:16px; position: absolute; clear: both; width: 100%;}
.dashfooter ul.footerNav      {margin: .5em auto; width: 100%; background: none; text-align:right; color: #282a32; }
.dashfooter ul.footerNav  li  {list-style: none; margin: 0 10px; display: inline-block; color: #282a32;}
.dashfooter ul.footerNav li a {color: #282a32;}
.dashfooter .copyright        {padding-left:0; width: 100%; text-align: right; font-size: .8em}
footer.dashfooter .inner-footer{width:764px; margin-top:1em; position: relative;}
footer.dashfooter .footer-logo {width:21%; float:left; padding-top: 5px;}
footer.dashfooter .footer-logo img {width:100%;}
footer.dashfooter .footer-txt  {width: 75%; float: right;}
.sb-footer {margin-top:2em; margin-left: 1em; color: #fff; }
.sb-footer ul.footerNav {list-style: none;} 
.sb-footer  ul.footerNav li {height: 2em;}
.sb-footer  ul.footerNav li a {color: #fff;}
.sb-footer .copyright {margin: 0 3em; font-size: .8em;}
.hm_copy {color: #fff;text-align: center;font-size: .8em; }

.dash_logo {background-color:#f0efee; float: left; width: 198px;height: 84px; padding: 1em;}
.dash_logo img {height:auto; width: 100%; margin-top: 0.4em;}
.header_wrp {background-color: #282a32;	height: 85px; width:100%; margin:0;}
#menu-toggle {float: left; margin: 1.3em 0 1.3em 1em;}
.navbar-default .navbar-toggle .icon-bar {background-color:#e97d24 !important;}
.navbar-toggle .icon-bar {height: 4px; width: 29px;}
.navbar-default .navbar-toggle {border: none;}
.close-toggle {float:right; color: #fff; font-size: 2em; margin: .5em 2em;}
.top-nav {margin-top: 4em;}
@media screen and (max-width:763px) {
 
.dash_logo {background-color:#f0efee; margin: 0 auto; float:none; width: 198px;height: 84px; padding: 1em;}
.dash_logo img {height:auto; width: 100%; margin-top: 0.4em;}
.header_wrp {background-color:#f0efee;	height: 85px; width:100%; margin:0;}


} 

.dashboard .row {margin: 0 !important;}
/* .row 			{margin: 0 !important;} */
.top-border  {border-top:1px solid #cdcdce; margin: 1em 0; width: 100%;}
.mid-border  {border-top:1px solid #cdcdce; margin: 3em 0 0 0 ; width: 100%;}
.navbar {border: none !important; border-radius:0;}
.sb_wrp { background-color:#282a32; position: relative; height: 100%; width: 198px;}
.pg_wrp { float:left;}
.main_wrp {margin: 0; padding:0; height: 100%;}
.main_container { background-color: #fff; margin: 1em; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border: 1px solid rgba(40, 42, 50, 0.3); padding: 2em; width: 764px;}
.reg_container {background-color: #fff; margin: 1em; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border: 1px solid rgba(40, 42, 50, 0.3); float: left; max-width: 764px; }
/* -- BREAK POINTS -- */

@media only screen and (max-width: 924px) {
    /* tablets and desktop */
.reg_container { background-color: #fff; margin: 0em; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border: 1px solid rgba(40, 42, 50, 0.3); float: left; margin-left: 0px;}
#registrationPage {background:none;}
.dashboard { background: none; background-color: #eeeeee;}
.sb_wrp {display: none;} 
}

@media only screen and (max-width: 767px) {
.reg_container {background-color: #fff; margin: 1em; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border: 1px solid rgba(40, 42, 50, 0.3); float: left; margin-left: 0px;}
.dashboard 	   {background: none; background-color: #eeeeee;}
.sb_wrp        {display: none;}
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
.reg_container {background-color: #fff; margin: 0em; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border: 1px solid rgba(40, 42, 50, 0.3); float: left; margin-left: 0px;}
.dashboard {background: none; background-color: #eeeeee;}
.sb_wrp {display: none;}

}

ul#step    				  {float:left; border-bottom: 1px solid #cdcdce; margin:-.5em 0 1em 0; padding-bottom: 2em;}
ul#step li 				  {display: inline-block; float:left; color:#acacac; line-height: 2.3em;}
ul#step li.active 		  {color: #5aa3d3 !important;}
ul#step li.active .circle {background-color: #5aa3d3 !important;}
.circle { width: 1.7em; height: 1.7em; border-radius: 50px; font-size: 17px; color: #fff; line-height: 2em; text-align: center; background: #acacac; float: left; margin-right: .5em;}

.policy_bx {width: 100%; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border: 1px solid rgba(40, 42, 50, 0.3); padding: 2em; max-height: 289px; overflow: scroll;}

.registraion_form h4 { margin: 2em 0em 2em 0; float: left;}

.reg_headWRP {width: 100%; min-height: 90px; float: left;}
.registraion_form label {width: 100% !important; display: block; margin-left: 14px;}
.registraion_form .checkbox input[type=checkbox], .registraion_form .radio input[type=radio] {margin-left: 0;}

.hiddenLabel {font-size: 0; color: transparent; float: left; margin-top: -5px;}



/* ------------------------------------------  */

.dashboard .row {margin-right: -1px; margin-left: -1px;} 
/* DASHBOARD */
ul.header_nav {float:right; margin: 0;}
ul.header_nav li {list-style: none; border-left:1px solid #494b54; height: 85px; float: left; transition: all 0.5s ease;}
ul.header_nav li:hover {background:#5b7191; transition: all 0.5s ease;}
ul.header_nav li.active {background:#5b7191;}
ul.header_nav li a {color: #ffffff; text-transform: uppercase; text-decoration: none; font-family: DIN-light, Arial, Helvetica, sans-serif; line-height: 2em; height:83px; display:block; padding: 2em 3em; }

/*#messages 	   {float:right; height:50px; width:50px; margin-top:1.5em; background: url(../images/message_bg.png) no-repeat; position: relative;} */
#messages:before {position:absolute; font-family: 'icomoon'; top:-11px; left:-3px; font-size: 3.4em; color: #fff; content: "\e611";}
#messages 	   {float:right; height:50px; width:50px; margin-top:1.5em; position: relative;}
#messages span {position: absolute; top:-6px; right: 0; background:url(../images/message_number_bg.png) no-repeat; padding:0.24em 0em; text-align: center; font-size: .8em; height: 20px; width: 20px; color: #ffffff; }

.dash_wrp	    {float: left; max-width:764px; margin-right: 1em; margin-left:1em; height: 100%}
.dash_container {-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border: 1px solid rgba(40, 42, 50, 0.3);}
.dash_container {background-color: #fff; margin: 1em 0 0 0; display: inline-block; padding: 0; position: relative;}

/* collapsed sidebar styles */


.sb-column  {background-color: #282a32; width:200px; position: absolute; padding: 0; z-index: 9999; height:100%;}
/*#dashboardPage .sb-column 	 {height: 95%;}
#eventsPage .sb-column    	 {height: 96%;}
#resourcesPage .sb-column 	 {height: 97%;}
#favoritesPage .sb-column 	 {height: 97%;}
#articlePage .sb-column   	 {height: 95%;}
#resultsPage .sb-column   	 {height: 95%;}
#registrationPage .sb-column {height: 95%;}
#notificationsPage .sb-column{height: 95%;}
#resumePage .sb-column   	 {height: 95%;}
#strengthsPage  .sb-column   {height: 93%;}
#cardsortPage  .sb-column    {height: 97%;} */
.navTitle   {/*color: #5b7191;*/ color: #ffffff;	 font-family: DIN-Bold, Arial, Helvetica, sans-serif; margin:2.7em 0 .9em 3em;}

.sb-column .nav 		   {font-size:.8em; letter-spacing: .1em;}
.sb-column .nav>li>a:hover {background-color: #5b7191 !important; transition: all 0.5s ease;}
.sb-column .nav>li>a.noICO {background: none; background-position: left;}
.sb-column .nav>li>a       {color: #ffffff; padding: 1.3em 0 1.3em 3em; }
.sb-column .nav>li>a.active{background-color: #5b7191 !important; }

.sb-column ul.nav ul 			{list-style: none; margin: 0; padding: 0; border: 0;}
.sb-column ul.nav li.hover, 
.sb-column .nav ul li:hover 	{position: relative; z-index: 999999999999; cursor: default;}
.sb-column ul.nav ul 			{margin-top: 1px; visibility:hidden; position: absolute; top:45px; left: 0; z-index:999999; width: 100%;}
.sb-column ul.nav ul li 		{float:left;}
.sb-column ul.nav ul ul 		{top: 1px; left: 99%;}
.sb-column ul.nav li:hover > ul {visibility: visible;}
	/* Sub Menu */
.sb-column ul.nav ul a:link,
.sb-column ul.nav ul a:visited 		{font-weight: 400; font-size: 14px;}
.sb-column ul.nav ul 				{width: 180px; background: none; border-left: 20px solid transparent;}
.sb-column ul.nav ul a 				{padding: 8px 0; border-bottom: 1px solid #eeeeee; }
.sb-column ul.nav ul li 			{background: #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.sb-column ul.nav ul li  h4			{border-bottom:1px solid #cdcdce; padding: .6em; text-align: center; width: 100%; width: 100%;}
.sb-column ul.nav ul li.help-desk  {width:224px;}
.sb-column ul.nav ul li  .phone		{width: 100%; float:left; background: url(../images/phoneIcon.png) no-repeat; background-position:left;}
.sb-column ul.nav ul li  .phone		{padding-left: 3em; margin: .5em 3em; height: 30px; line-height: 2.5em;}
.sb-column ul.nav ul li  .email		{width: 100%; float:left; background: url(../images/emailIcon.png) no-repeat; background-position:left;}
.sb-column ul.nav ul li  .email		{padding-left: 3em; margin: .5em 3em; height: 30px; line-height: 2.5em;}
.sb-column ul.nav ul li:last-child 	{padding-bottom: 10px; box-shadow: 2px 2px 10px #888888;}
.sb-column  ul.nav ul li:last-child > a {border-bottom: none;}
.sb-column  ul.nav ul li:first-child:after {
	  content: '';
	  display: block;
	  width: 0;
	  height: 0;
	  position: absolute;
	  left: 25px;
	  top: -10px;
	  border-left: 10px solid transparent;
	  border-right: 10px solid transparent;
	  border-bottom: 10px solid #fff;
	   
	}


#close-menu-toggle {display:inline-block;}
#wrapper         {padding-left: 0; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; min-height: 100%;}
#wrapper.toggled {padding-left: 200px; min-height: 100%}
#sidebar-wrapper {z-index: 1000; position:absolute; left: 200px;  width: 0; height: 100%; margin-left: -200px; overflow-y:hidden; background:#282a32; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}
#wrapper.toggled #sidebar-wrapper { width:100%; height: 100%}
#page-content-wrapper             { width: 100%; padding: 15px; height: 100%}
#wrapper.toggled #page-content-wrapper { position: absolute; margin-right: -200px; height: 100%}
.sb-footer 		   {color: #fff !important;}

@media screen and (max-width:700px) {
 #sidebar-wrapper {min-height:990px !important;}
}

@media(min-width:768px) {
   	#close-menu-toggle {display: none;}
    #wrapper 		 {padding-left: 200px; height: 100%; position:relative;}
    #wrapper.toggled {padding-left: 200px; height: 100%}
    #sidebar-wrapper {width:200px;  overflow-y:visible; height: 100%}
    #wrapper.toggled #sidebar-wrapper      {width:200px; overflow:visible;}
    #wrapper.toggled #sidebar-wrapper ul   {display:inline-block; width:100%;}
    #wrapper.toggled #page-content-wrapper {position: relative; margin-right: 0;}
    #page-content-wrapper        	       {padding: 20px;}
	
	.sb-column ul.nav ul 			{margin-top: 1px; visibility:hidden; position: absolute; top: 1px; left: 90%; z-index:999999; width: 100%;}
	.sb-column ul.nav ul li 		{float:left;}
	.sb-column ul.nav ul ul 		{top: 1px; left: 99%;}
	.sb-column ul.nav li:hover > ul {visibility: visible;}
	.sb-column ul.nav li:hover > ul li.invisible {visibility: hidden;}
	/* Sub Menu */
	.sb-column ul.nav ul a:link,
	.sb-column ul.nav ul a:visited 		{font-weight: 400; font-size: 14px;}
	.sb-column ul.nav ul 				{width: 180px; background: none; border-left: 20px solid transparent;}
	.sb-column ul.nav ul a 				{padding: 8px 0; border-bottom: 1px solid #eeeeee; }
	.sb-column ul.nav ul li 			{background: #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
	.sb-column ul.nav ul li  h4			{border-bottom:1px solid #cdcdce; padding: .6em; text-align: center; width: 100%; width: 100%;}
	.sb-column ul.nav ul li .help-desk  {width:350px;}
	.sb-column ul.nav ul li  .phone		{width: 100%; float:left; background: url(../images/phoneIcon.png) no-repeat; background-position:left;}
	.sb-column ul.nav ul li  .phone		{padding-left: 3em; margin: .5em 3em; height: 30px; line-height: 2.5em;}
	.sb-column ul.nav ul li  .email		{width: 100%; float:left; background: url(../images/emailIcon.png) no-repeat; background-position:left;}
	.sb-column ul.nav ul li  .email		{padding-left: 3em; margin: .5em 3em; height: 30px; line-height: 2.5em;}
	.sb-column ul.nav ul li:last-child 	{padding-bottom: 10px; box-shadow: 2px 2px 10px #888888;}
	.sb-column  ul.nav ul li:last-child > a {border-bottom: none;}
	.sb-column  ul.nav ul li:first-child:after {
	  content: '';
	  display: block;
	  width: 0;
	  height: 0;
	  position: absolute;
	  left: -20px;
	  top: 13px;
	  border-left: 10px solid transparent;
	  border-right: 10px solid #fff;
	  border-bottom: 10px solid transparent;
	  border-top: 10px solid transparent;
	}
	}

@media screen and (max-width:700px) {
 
  
  .sidebar-offcanvas 					  {position: absolute; top: 0; width: 41.6%; }

}

.container_wrp {float: left; width: 100%; min-height:100%; height: auto !important; margin-bottom:77px;  margin-top: 0;} 

#welcome_banner {width: 100%; height: 165px; background-color: #4992bd; float: left; color: #fefefe; position: relative; font-family: DIN-light, Arial, Helvetica, sans-serif;}
.milwaukee_morn 				 {width: 100%; height:165px; background: url(../images/welcome_bannerMorn.jpg) no-repeat; background-size: cover;}
#welcome_banner h2.message 		 {font-family: DIN-Light, Arial, Helvetica, sans-serif; font-size: 3em; padding: 1em 0 0 1em;}
#welcome_banner .location 		 {position: absolute; top:22px; right: 58px;}
#welcome_banner .location:before {display: inline-block; content: url(../images/location_point.png) 0 0 no-repeat; width: 16px; height: 16px;}
#welcome_banner .date 			 {float:left; margin: 0 3em;}
@media screen and (max-width:763px) {
 
#welcome_banner h2.message 		 {font-family: DIN-Light, Arial, Helvetica, sans-serif; font-size: 2.4em; padding: 1em 0 0 1em;}


}
.progressCircle          {width: 200px; margin: 6px 6px 20px; display: inline-block; position: relative; text-align: center; line-height: 1.2;}
.progressCircle canvas   {vertical-align: top;}
.progressCircle span     {position: absolute; top: 0; left: .5em; width: 100%; text-align: center; line-height:5em; font-size: 3em; }
.progressCircle strong i {font-style: normal; font-size: 0.6em; font-weight: normal;}

.dashboard h4 {	font-size: 2.5em; font-family: DIN-Medium;}

.container_heading_sm {width: 100%; float: left; border-bottom: 1px solid #cdcdce; padding:.6em 2em; font-size: .9em; color:#585858; line-height: 3em;}
.container_heading_sm span 		 {font-size: 1.2em; color: #000000;}
.container_heading_sm .stepIcon  {background: url(../images/NAV_sprite.png) no-repeat; height: 30px; width:30px; margin-right: -3px; float: right}
.container_heading_sm .discovery {background-position: 0 -225px;} /* ICON FOR SELF DISCOVERY */
.container_heading_sm .plan      {background-position: 0 -270px;} /* ICON FOR CAREER PLANNING */
.container_heading_sm .branding  {background-position: 0 -311px;} /* ICON FOR PERSONAL BRANDING */
.container_heading_sm .search    {background-position: 0 -354px;} /* ICON FOR JOB SEARCH */
.container_heading_sm .close     {background-position: 0 -391px;} /* ICON FOR CLOSE THE DEAL */

.stepTitle      {font-size: 2em; color:#6e8f82; font-family: DIN-regular, Arial, Helvetica, sans-serif; margin:1.5em 0 .5em 0; }
.timeToTake     {font-size: 1em; color:#6e8f82; letter-spacing:.1em;}
.time_reminaing {float: left; width: 100%; color: #d53c4c; margin: -.3em 0 .5em 0;}

.dashboard h5  {width: 100%; float: left; border-bottom: 1px solid #cdcdce; padding:1.2em 1.9em 1.8em 2em; color:#585858; letter-spacing: .1em;}
h5.coach_icon  {background: url(../images/NAV_sprite.png) no-repeat; background-position: right -95px;}
h5.events_icon {background: url(../images/NAV_sprite.png) no-repeat; background-position: right -136px;}
.overall_prog  {padding: 2em 1em;}

ul.progress_list      {padding: 0;}
ul.progress_list li   {list-style:none; margin: .4em 0; float: left; width: 100%}
ul.progress_list li a {color:#000000; font-size:.9em; letter-spacing: .1em; text-transform:uppercase; }
ul.progress_list li a {height: 24px; float: left; padding: 1px 0 0 0; line-height: 2em;}
ul.progress_list li a.self_discovery 	{background-position: 0 -12px;} 
ul.progress_list li a.career_planning 	{background-position: 0 -48px;}
ul.progress_list li a.personal_branding {background-position: 0 -87px;}
ul.progress_list li a.job_search		{background-position: 0 -128px;}
ul.progress_list li a.close_the_deal    {background-position: 0 -166px;}
ul.progress_list li a.checked     		{color:#999a9e;}
ul.progress_list li a.self_discoveryChecked   {background-position: 0 -203px; color:#999a9e !important;} 
ul.progress_list li a.career_planningChecked  {background-position: 0 -239px; color:#999a9e !important;}
ul.progress_list li a.personal_brandingChecked{background-position: 0 -278px; color:#999a9e !important;}
ul.progress_list li a.job_searchChecked		  {background-position: 0 -317px; color:#999a9e !important;}
ul.progress_list li a.close_the_dealChecked   {background-position: 0 -355px; color:#999a9e !important;}

a.link 	 {color: #585858; font-size: .9em; letter-spacing: .1em;}
a.button {border:none; margin: 3% 5% 0% 0; border-radius: 15px; padding: 6px 25px; display: inline-block;}
a.button {background:#b7b7b7; text-transform: uppercase; font-size:.8em; letter-spacing: .3em; text-decoration:none;}

a.orange {background:#e77c22; color: #fff; transition: all 0.2s ease; }
a.blue   {background:#5aa3d3; color: #fff;}
a.green  {background:#5aa88a; color: #fff;}
a.red    {background:#e27681; color: #fff;}

.orange_txt {color:#e77c22 !important;}
.blue_txt   {color:#5aa3d3 !important;}
.green_txt  {color:#5aa88a !important;}
.red_txt    {color:#e27681 !important;}
.dkred_txt  {color:#ab404b !important;}
.ltgreen_txt{color:#6fa196;}
.ltblue_txt {color:#689bc5 !important;}
.gray_txt   {color: #9f9f9f !important;}
.black {color:#000000 !important;}

textarea.no-bdr {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

ul.progress_list li span {padding-right: .2em;}
a.orange_INV_link {border: solid 2px #e77c22; background:none; color: #e77c22;border-radius: 30px; padding:.4em 2em; letter-spacing: .3em;font-size: .8em; margin: 1% auto 7% auto;}
a.orange_INV_link:hover {background:#e77c22; color: #fff; transition: all 0.2s ease; }

button.link 	 {color: #585858; font-size: .9em; letter-spacing: .1em;}
button.button {border:none; margin: 3% 5% 0% 0; border-radius: 15px; padding: 7px 25px; display: inline-block; margin: 0;}
button.button {background:#b7b7b7; text-transform: uppercase; font-size:.8em; letter-spacing: .3em; text-decoration:none;}

button.orange_INV {border:.2em solid #e77c22; background:none; color: #e77c22; transition: all 0.2s ease; padding: .4em 2em;}
button.orange_INV:hover {background:#e77c22; color: #fff; transition: all 0.2s ease; }
button.orange {background:#e77c22; color: #fff; transition: all 0.2s ease; }
button.blue   {background:#5aa3d3; color: #fff !important;}
button.green  {background:#5aa88a; color: #fff;}
button.red    {background:#e27681; color: #fff;}

button.orange:hover {background:#cb5a16; color: #fff; transition: all 0.2s ease; }

button .btn-text {float: left; margin: 0 5em 0 0;}

#careerCoach .name 		{font-size: 2em; font-family: DIN-regular, Arial, Helvetica, sans-serif;}
#careerCoach .text 		{color:#5b7191; letter-spacing: .1em; font-size:.9em; margin-bottom: 1em;}
#careerCoach .text span {color: #000; letter-spacing: 0; }

ul.hm_events    {font-family: DIN-regular, Arial, Helvetica, sans-serif; display:inline-block; margin: 1em 0 -2em 0; padding-right: .5em; list-style: none;}
ul.hm_events li {float: left; width: 100%; margin-bottom: .5em; font-size: 2.5em;}
ul.hm_events li:before {content: "\00BB \0020"; font-size: 1em; margin-left:-.3em;}
ul.hm_events li a {width:95%; float:right;}
ul.hm_events li .event_title {font-size:.55em; color:#000;}
ul.hm_events li .event_time  {font-size: .4em; line-height: 1.2em; color:#000;}
ul.hm_events li.purple {color:#466ea5;}
ul.hm_events li.red	   {color:#d53c4c;}
ul.hm_events li.blue   {color:#21c9e7;}
a.all-events {color:#000; float:right; margin:1em 2em;}
/*
ul.hm_events li.purple, ul.hm_events li.purple .event_title{color:#466ea5;}
ul.hm_events li.red, ul.hm_events li.red .event_title 	   {color:#d53c4c;}
ul.hm_events li.blue, ul.hm_events li.blue .event_title    {color:#21c9e7;}*/


h4.grayTitle {width: 100%; background:#f1f1f2; font-size:1.6em; font-family:DIN-regular, Arial, Helvetica, sans-serif;}
h4.grayTitle {margin:0 0 1em 0; padding: 1em;}
h4.grayTitle span {font-family:DIN-Bold, Arial, Helvetica, sans-serif; }
.dashboard h1 {font-size: 3em; margin: 1em 0 .5em 0}

ul.bullet2 				   {font-family:DIN-Bold, Arial, Helvetica, sans-serif; font-size: .9em; list-style: none; display: inline-block; margin: .5em 0 -1em 0px;}
ul.bullet2 li:before 	   {content: "\00BB \0020"; font-size: 1.5em; margin-left: -1.2em;}
ul.bullet2 li              {width: 100%; float: left; margin:.2em 0;}
ul.bullet2 li a            {color:#282a32;}
ul.bullet2 li.incomplete:before   {content: " ";font-family:DIN-regular, Arial, Helvetica, sans-serif;}
ul.bullet2 li.incomplete   {list-style: none; margin-left: 1.2em; font-family:DIN-regular, Arial, Helvetica, sans-serif;}
ul.bullet2 li.incomplete a {color:#585858;}
a.upload {margin: 1em 2em; float: left; font-size: .9em;}

form.resource_search 				    {margin-top: 4em;}
form.resource_search input[type="text"] {border-radius: 5px; height: 23px; line-height: 1.4em;}
form.resource_search button.search      {text-indent: -99999px; background:url(../images/searchIcon.png) no-repeat; width: 34px; height: 23px; border: none !important;}

h4.resource  {border-bottom: 1px solid #cdcdce; color:#808080; line-height: 2em; margin-top: -.5em; padding-left:.5em;}
.discovery h4{color:#4a94eb; background: url(../images/resourceIcon_sprite.png) no-repeat; background-position: right -3px;}
.planning h4 {color:#478f73; background: url(../images/resourceIcon_sprite.png) no-repeat; background-position: right -73px;}
.branding h4 {color:#d53c4c; background: url(../images/resourceIcon_sprite.png) no-repeat; background-position: right -217px;}
.search h4   {color:#588fbe; background: url(../images/resourceIcon_sprite.png) no-repeat; background-position: right -146px;}
.deal h4     {color:#6ea095; background: url(../images/resourceIcon_sprite.png) no-repeat; background-position: right -294px;}

.discovery .button, .planning .button, .branding .button, .search .button, .search .button, .deal .button, .reg_resource .button {margin-bottom: 2em;}
ul.no_bullet {list-style: none;}

.discovery ul.bullet1 li:before{color:#4a94eb;}
.planning ul.bullet1 li:before {color:#478f73;}
.branding ul.bullet1 li:before {color:#d53c4c;}
.search ul.bullet1 li:before   {color:#588fbe;}
.deal ul.bullet1 li:before     {color:#6ea095;}

ul.bullet1 {list-style: none;}
ul.bullet1 li:before {content: "\00BB \0020"; font-size: 1.5em;}
ul.bullet1 li a {color: #585858;}

h6.resource_list_title {font-size: 1.5em; font-family:DIN-Regular;}
h5.gray 			   {background:#ededed; color:#919191; font-family:DIN-Bold, Arial, Helvetica, sans-serif;font-size: 1.1em;}
h5.gray 			   {margin:0; line-height: 1.3em; letter-spacing: .1em; border-bottom: none; margin-bottom: 1em;padding: 1em 2em;}
h4.blankTitle 		   {border:none; font-family:DIN-Bold, Arial, Helvetica, sans-serif;font-size: 1em; color: #000000; padding: 1em 2em;}
h4.blankTitle span     {color: #717171; }

.resource_blogWrp      {margin-bottom: 1em;}
.resource_blogWrp .title {color:#505050; font-family:DIN-Bold, Arial, Helvetica, sans-serif;font-size: 1.1em; line-height: 2em;}
.resource_blogWrp  a  {color:#9c9c9c; font-size: .9em; margin-bottom: 2em; line-height: 3em;}
.pagination>li>a      {background: none; color:#a1a1a1; margin-left:1em; font-size: .8em;  border: 3px solid rgba(40, 42, 50, 0.3);}
.pagination>li>a 	  {-webkit-border-radius: 13px; -moz-border-radius: 13px; border-radius: 13px; padding: .3em 1em;}
.pagination>li>a:hover{background-color:#e77b21; color: #ffffff;}
.pagination>li.active>a:hover{background-color:#e77b21 !important; color: #ffffff;}
.pagination>.active>a, .pagination>.active>a:hover {background-color:#e77b21 !important; color: #ffffff; border:3px solid #e77b21;}
.pagination>li:last-child>a {border:none;}
.pagination>li:first-child>a{border: none;}

.holder {float: right; margin-top: 1em;}
.holder a      {background: none; color:#a1a1a1; margin-left:1em; font-size: .8em;  border: 3px solid #a1a1a1;}
.holder a 	  {-webkit-border-radius: 13px; -moz-border-radius: 13px; border-radius: 13px; padding: .5em 1em;}
.holder a:hover{background-color:#e77b21; color: #ffffff; border: 3px solid #e77b21;}
.holder a.jp-current {background-color:#e77b21; color: #ffffff; border: 3px solid #e77b21;}

h1.icon  {width: 100%; background:url(../images/titleIcons.png) no-repeat; padding-left:1em;}
h1.event {background-position: left 3px;}

.event_wrp     {text-align: center; min-height:250px; margin:1em 1px 0;}
.event_wrp h5  {font-size: 1.5em; padding: 1em 3em;  margin-top: 0; letter-spacing: 0;  min-height:4.2em;}
.registered h5 {background-color:#7386a1 !important; color:#ffffff; margin-top: 0;}

.event_wrp h5.red {color:#d53c4c}
.event_wrp h5.blue	{color:#3a86b8;}
.event_wrp h5.green {color: #478f73;} 

h1.red {color:#d53c4c}
h1.blue	{color:#3a86b8;}
h1.green {color: #478f73;}

.event_wrp a.cancel 	 {color:#000000; margin-bottom:1em; margin-top: 1em;}
.event_wrp a.register    {margin: 0 auto 2em auto;}
.event_wrp .regBtn:before{background:#cdcdce; content:"";height: 1px; width: 20%; margin-right: .5em; display: inline-block;}
.event_wrp .regBtn:after {background:#cdcdce; content:"";height: 1px; width: 20%; margin-left: .5em; display: inline-block;}

.pwordProfile {padding: 0 2em;}

#itemContainer {padding: 0; margin:0;   width: 100%; float: left;}
#itemContainer2 {padding: 0; margin:0;  width: 100%; float: left;}
#itemContainer3 {padding: 0; margin:0;  width: 100%; float: left;}


.modal-body {padding: 2em 4em;}
.modal-body .description {text-align: left; font-size:1.1em;}
.modal-body button {margin: 0 auto;} 

.dropdown {margin-top: 1em;}
.dropdown-menu {background:#e77c22; color: #fff; float: right; right: 0;}
.dropdown-menu li a {color: #ffffff;} 
ul.webinars 		   {width: 100%; list-style: none; margin:2em 0 0 0; }
ul.webinars li  	   {width: 100%; display: inline-block; height: 3em;}
ul.webinars .time      {float: left; width: 37%;}
ul.webinars .presenter {float: left; width: 30%}
ul.webinars .register  {float: right;}
 
.star-rating-rtl .caption  {display: none !important;}
.star-rating .caption, .star-rating-rtl .caption       {display: none !important;}
.articleRating 	  {margin: 2em 0; width: 50%}
.articleRating h6 {color: #3a86b8; font-family:DIN-Bold, Arial, Helvetica, sans-serif;}
.articleRating label {color: #000; font-family:DIN-Bold, Arial, Helvetica, sans-serif;}
.articleRating .rating-xs {margin: 0;}
.favorite_check {position: absolute; top:4px; right:12px;}
.favorite_check input[type="checkbox"]                 {display: none;}
.favorite_check input[type="checkbox"]+label           {background: url('../images/fav_banner.png') no-repeat; height:30px; padding-left: 18px; }
.favorite_check input[type="checkbox"]:checked + label {background: url('../images/fav_bannerChecked.png')  no-repeat; height:30px;}
.favorite_check_lg {position: absolute; top:4px; right:30px;}
.favorite_check_lg input[type="checkbox"]                 {display: none;}
.favorite_check_lg input[type="checkbox"]+label           {background: url('../images/fav_banner.png') no-repeat; height:50px; padding-left: 13px; background-size: 100%}
.favorite_check_lg input[type="checkbox"]:checked + label {background: url('../images/fav_bannerChecked.png')  no-repeat; height:50px;background-size: 100%}

a.favLink {right:.5em; position: absolute; bottom: .5em; background: url(../images/resouceCategorySprite.png) no-repeat; height: 43px;}
a.pdf     {background-position:right -107px; width: 74px; text-align:left; line-height: 3em;}
a.document{background-position:right -107px; width: 124px; text-align:left; line-height: 3em;}
a.video   {background-position:right -59px; width:90px; text-align:left; line-height: 3em;}
a.article {background-position:right -12px; width:104px; text-align:left; line-height: 3em;}
a.title   {color: #000;}
a.backBTN {color: #9e9e9e; margin-top:1em; text-transform: uppercase;}

.star-rating {margin-bottom: 2em; margin-top: 1em;}
.clear-rating, .clear-rating-active {display: none !important;}
.embed-responsive {margin: 2em auto;}

.resultsFor {margin: 2em 0 -2em 0; text-transform: uppercase; font-size: 1.14em;}
a.title span {color:#959595;}
h6.sub {font-size: 1.3em;margin-top: 1.3em;color: #e77b21;}
.gray 	{margin-top: 1em; color: #727272; text-transform: uppercase;}
.reg-result {font-size: 1.3em;}
.personal-info {min-height:240px;}
.profile_f_pad {padding:0.6em 1.3em 0px}



.icon-nav-wrp {height:50px; border-right:1px solid #cdcdce; }
.icon-nav-wrp:last-child {border-right: none;}
.icon-text	{text-transform: uppercase !important; font-size: .9em; display: inline-block; height: 0px; vertical-align: middle; width:75px; font-family:DIN-Bold, Arial, Helvetica, sans-serif !important;}

.moreBtn {width: 100%; position: relative;}
.moreBtn a{outline: 10px solid #eeeeee; margin-left: auto; margin-right: auto;}
.moreBtn a{height:auto; display:block; width: 50%; text-align: center; z-index: 10; padding: 8px 15px;}
.moreBtn:before {content:""; height: 1px; background:#cdcdce; width: 100%; position: absolute; top: 50%; z-index:-1;}
@media (max-width: 768px) {
	.moreBtn a {width: 80%;}
	.moreBtn {margin: 1em 0;}
}
.moreBtnSm {width: 100%; position: relative; float: left; margin-bottom: 1em;}
.moreBtnSm a{outline: 10px solid #ffffff; margin-left: auto; margin-right: auto;}
.moreBtnSm a{height:auto; display:block; width: 80%; text-align: center; z-index: 10; padding: 8px 15px;}
.moreBtnSm:before {content:""; height: 1px; background:#cdcdce; width: 100%; position: absolute; top: 50%; z-index:-1;}

.moreBtnSM-container {z-index: -2;}

.gray-heading {height: 3.5em; padding: 1em; background:#eeeeee; display: inline-block; width: 100%; }

ul#job-search-list {list-style: none; margin:-1px 0 0 0; padding: 0 1em; }
ul#job-search-list li {padding:1.5em 0; border-bottom: #cdcdce 1px solid; margin:0; float: left; width: 100%;}
ul#job-search-list li a{color: #000;}
ul#job-search-list li:hover {background:#f1f1f1; transition: all 0.5s ease;}
ul#job-search-list li:last-child {border-bottom: none;}
ul#job-search-list li .job-title{width: 100%; float: left; font-size: 1.3em;}
ul#job-search-list li .location {color:#585858; letter-spacing: .1em; line-height:3em; text-transform: uppercase;}
ul#job-search-list li .comp-title {width: 100%; color:#585858;}
 
h5.event-title {width: 100%; border-bottom:none; display: table; height:5.5em; margin: 0 0 -.5em 0; padding:1.5em; font-family:DIN-Bold, Arial, Helvetica, sans-serif;}
h5.event-title span{display:table-cell; vertical-align:middle; color: #585858; font-size:1.1em; letter-spacing: .1em;}
p.event-info   {width: 100%; padding:.8em 1.5em 0 1.5em;}

.notification {font-size:1.2em;}
a.close_notification {position: absolute; top:.3em; right:.6em; font-size: 1.2em; color:#282a32; cursor: pointer;}

.duration {background:#eeeeee; color: #818182;  padding: .7em 1.5em; margin-top: 1.5em;}
.sm-job-research {border-bottom: 1px solid #cdcdce; padding-bottom: 1em; float: left;}
.sm-job-research:nth-child(even) {border-bottom: none;}
.sm-job-research h6 {font-size: 1.2em;}
.js-event-wrp-xs {width:100%; float:left;} 

@media (min-width: 768px) {
	.js-event-wrp-sm  {
        width: 49%;
        float: left;
        margin-right:10px;
    }    
    .js-event-wrp-sm:nth-child(even) {margin-right:0;}
}
@media (min-width: 992px) {
    .js-event-wrp-md  {
        width: 32.333333%;
        float: left;
        margin-right:10px;
    }
    .js-event-wrp-sm:nth-child(even) {margin-right:10px;}
    .js-event-wrp-lg:nth-child(3n+3) {margin-right:0;}
    
}
@media (min-width: 1200px) {
    .js-event-wrp-lg  {
        width: 32.333333%;
        float: left;
        margin-right:10px;
    }
    .js-event-wrp-sm:nth-child(even) {margin-right:10px;}
    .js-event-wrp-lg:nth-child(3n+3) {margin-right:0;}
}

/* ------------------------------------------ */

.card-wrp-xs {width:100%; float:left; min-height: 20em;}

@media (min-width: 768px) {
	.card-wrp-sm  {
        width: 49%;
        float: left;
        margin-right:10px;
        height: 24em;
    }    
    .card-wrp-sm:nth-child(even) {margin-right:0;}
}
@media (min-width: 992px) {
    .card-wrp-md  {
        width: 32.333333%;
        float: left;
        margin-right:10px;
        height: 27em;
    }
    .card-wrp-sm:nth-child(even) {margin-right:10px;}
    .card-wrp-lg:nth-child(3n+3) {margin-right:0;}
    
}
@media (min-width: 1200px) {
    .card-wrp-lg  {
        width: 32.333333%;
        float: left;
        margin-right:10px;
        height: 27em;
    }
    .card-wrp-sm:nth-child(even) {margin-right:10px;}
    .card-wrp-lg:nth-child(3n+3) {margin-right:0;}
}

/* CARD SORT */
.panel-heading h3{text-align: center; text-transform: uppercase; letter-spacing: .1em; word-wrap:break-word;}
.panel-heading h3.left-lower{text-align:left; text-transform: none; letter-spacing: .1em;}
.panel-heading h3.left-upper{text-align:left; text-transform: uppercase; letter-spacing: .1em;}

.panel-DKblue>.panel-heading	 {color: #fff; background-color:#4a94eb; border-color: #71a5e2}
.panel-LTblue>.panel-heading	 {color: #282a32; background-color:#bad6f7; border-color: #bad6f7;}
.panel-white>.panel-heading  {color: #8e8e8e; background-color: #fff; border-color: #cdcdce}
.panel-blue>.panel-heading	 {color: #fff; background-color: #80b4f1; border-color: #71a5e2}
.panel-orange>.panel-heading {color: #fff; background-color: #eea263; border-color: #df9355}
.panel-green>.panel-heading	 {color: #fff; background-color: #8bc2ad; border-color: #cdcdce}
.panel-dkgray>.panel-heading {color: #fff; background-color: #7e7f84; border-color: #cdcdce}
.panel-ltgray>.panel-heading {color: #282a32; background-color: #dadada; border-color: #cdcdce}
.panel-red>.panel-heading	 {color: #fff; background-color: #e17681; border-color: #cdcdce}
.panel-DKred>.panel-heading	 {color: #fff; background-color: #ab404b; border-color: #cdcdce}

.up-case {text-transform: uppercase !important;}
.ui-draggable-handle>.dash_container {width: 100%; margin-top: 0;}

/* BOOTSTAP 5 COLUMN ADD ON */
.col-xs-15, .col-sm-15, .col-md-15, .col-lg-15 {position: relative; min-height: 1px; padding-right: 10px; padding-left: 10px; color:#505050;}
.col-xs-15 { width: 20%; float: left;} 

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.square_input input[type="text"] {border-radius: 0; }
.info_header {float:left; margin: 1em 0 .5em 1.5em; font-size: 1.8em !important;}
span.line {background:#cdcdce; height: 1px; width: 100%; float: left; margin: 1em 0;}
.resume_input_wrp {width: 100%; float: left; padding-left: 1em; line-height: 1.7em; margin-top:2em;}
.resume_input_wrp input[type="radio"] {margin:0 1em 0 -1em;}
.resume_input_wrp span.blue_txt {letter-spacing: .1em; font-size: 1.1em;}
.lt-gray {color: #818181;}
.lt_gray_txt {color: #818181 !important;}
.lt-gray-bx {background: #ebebeb;}
.lt-blue-bx {background: #dae9fa;}
ul.skill-list {width: 100%; margin: 0; padding: 1em; font-family:DIN-Light, Arial, Helvetica, sans-serif;}
ul.skill-list li {margin-bottom: 1em;}

@media (min-width: 768px) {
.pl0 {padding-left:0 !important;}
.pr0 {padding-right: 0 !important;}
}

.ico-link-text {line-height:2.2em;}
.edit_wrp .icon-edit-icon:before {position: absolute; padding-top: 8px;}
.edit_wrp .icon-edit-icon{margin-right: 1em;}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus  {border:1px solid rgba(40, 42, 50, 0.3) ; color: #428bca; border-bottom-color: transparent;}
.nav-tabs>li>a {border:1px solid rgba(40, 42, 50, 0.3); border-bottom: transparent; background:#ebebeb; padding: 8px 40px; color:#555;}
.nav-tabs>li>a:hover {background: #dedede; border:1px solid rgba(40, 42, 50, 0.3); border-bottom: transparent; color:#428bca;}
.tab-pane {background: #fff; padding: 2em; -webkit-border-radius: 0px 5px 5px 5px; -moz-border-radius: 0px 5px 5px 5px; border-radius: 0px 5px 5px 5px; border-left:1px solid rgba(40, 42, 50, 0.3); border-right:1px solid rgba(40, 42, 50, 0.3); border-bottom:1px solid rgba(40, 42, 50, 0.3); }
@media (max-width: 768px) {
.nav-tabs>li>a {padding:.5em .5em;}
}

div.RatingSlider { width:343px; margin-right:2em; float: right;}
@media (max-width:600px) { 
div.RatingSlider   { width:270px; margin: 1em 0; float:left;}
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: none; background: #e77b21; font-weight: normal; color: #555555; border-radius: 55px;}
.ui-widget-content { border: none !important; background: url(../images/slider_bg.png)top right no-repeat !important; background-size: contain !important; border-radius: 0 !important;}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {background: #e77b21 !important; font-weight: normal; color: #555555; border-radius: 55px !important; border:none !important; cursor:pointer !important;}
.SliderControl label {float: left; text-transform:uppercase; font-size: 1.08em; color:#428bca; letter-spacing: .1em; font-family: DIN-Light, Arial, Helvetica, sans-serif; }
.SliderControl {width: 100%; display: inline-block; margin: 1.5em 0;}
.slider-value {float: right; width: 382px;}

.slider-value span.allot {float: left; margin-left: -30px;}
.slider-value span.sometimes { float: left; margin-left: 100px;}
.slider-value span.not_used {float: right;}
.SliderText {display: none;}

ul.add_skill_list li {list-style: none;}
ul.add_skill_list li {text-transform: uppercase; font-size:1.2em; height:2.3em;}
ul.add_skill_list li label {margin-left:1em; color:#3a86b8;}

ul.orange-icon>li>a>span.nav-color {color: #e77b21 !important; margin:-6px 5px 0 0; float: left;}
ul.blue-icon>li>a>span.nav-color   {color: #2d87b5 !important;}

h5>span {margin: -3px 0 3px 0; float: right; font-size: 1.6em;}
.container_heading_sm>span.icon-md  {font-size: 1.9em !important; margin: 6px 0 0 0;}


.skillview
{
	background-color: #000;
	margin-bottom: 10px;
	height: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: white;
	text-transform: uppercase;
	padding: 3px 0 0 6px;
	font-size: 13px;
}

 .droppable-highlight
    {
    	background-color: yellow;
    	border: 2px green solid;
    }
    .draggable
    {
    	cursor: move;
    	list-style-type: none;
    }
    
    .droppable
    {
    	
    	list-style-type: none;
    	min-height: 338px;
    	padding: 10px 10px 50px 10px;
    	
    	
    }
    
    .droppable li:first-child, #deck li:first-child
    {
    	margin-top: 0;
    }
    .ui-draggable-dragging {z-index:9999 !important;}
    .droppable li
    {
    	margin-top: -145px;
    }
     .droppable li>.panel
    {
    	min-height: 200px;
    }
   /* #deck li
    {
    	margin-top: -168px;
    }
*/
    #addcard
    {
    	display: none;
    	cursor: pointer !important;
    }
    
    .add-title
    {
    	background-color: #b5d6eb !important;
    	
    }

    .add-title h3
    {
    	
    	color: #fff;
    }
    
 
    #addcard .p1
    {
    	text-align: center;
    	
    }
 
    #addlink
    {
    color: #b5d6eb;
    font-size: 120px;
    font-weight: bold;
    }
    
    #usercard1, #usercard2, #usercard3, #usercard4, #usercard5
    {
    	display: none;
    }
    button.no-style {color:#428bca; background: none; border: none;}

li.ui-draggable>div.panel>div.p1>button    {border: none; background: none; position: absolute; bottom: 5px; font-size: .8em; color: #666; left: 0; width: 100%; text-align: center; height: 17px;}

ul.draggable>li>span.glyphicon {position: absolute; top:10px; right:6px;}
ul.draggable>li>span.glyphicon:hover {cursor: pointer; cursor: hand; }

/*.highlight {margin-bottom: 300px;} */

.back-to-top 	   {position: fixed; bottom: 2em; right:3em; z-index:9999999; text-decoration: none; color: #000000; background-color: rgba(188, 188, 188, 0.70); font-size: 12px; padding: 1em; display: none;}
.back-to-top:hover {background-color: rgba(135, 135, 135, 0.50);}

/* OPTIONS PAGE */
.options_wrp h5, .options_wrp_NoMargin h5 			{text-align:left; font-family: DIN-Bold, Arial, Helvetica, sans-serif;}
.options_wrp p, .options_wrp_NoMargin p   			{padding: 1.5em 2em;}
.options_wrp_NoMargin .regBtn, .options_wrp .regBtn {text-align: center;}
.form-horizontal label.checkbox 					{font-size: 1em !important;}
.options_wrp  		    {text-align:left; min-height: 215px; margin: 1em 1em 0 1em;}
.options_wrp_NoMargin   {text-align:left; min-height: 215px; margin: 1em 0;}
.options_time 	      	{width: 100%; float:left; margin: 2em 1em;}
.options_time>span 	  	{margin:-5px .5em 0 0;}
.prev_purchases 	  	{margin: 1em; color:#59718f; font-size: 1.2em;}
.prev_purchases:hover 	{cursor: pointer;}
h4.modal-title        	{border-bottom: none !important; text-align: center; font-size: 1.3em;}
.modal-options		  	{text-align: center;}
.modal-options form   	{text-align: center;}
.modal-options form span{padding: 0 .5em;  font-family: DIN-Bold, Arial, Helvetica, sans-serif;}
.help-block 			{color:#d53c4c !important;}
.help-block ul 			{list-style: none;}
#totalsdiv  			{text-align: right; width:81%; color:#689bc5; font-family: DIN-Bold, Arial, Helvetica, sans-serif;}
#totalsdiv span 		{color:#282a32 !important;}
.totalamo 				{float: right; width: 20%;}

.modal_btn_wrp {width: 100%; text-align: center;}
.modal_btn_wrp button {letter-spacing: .1em;}
.controls ul {display: table; margin: .5em auto 1em auto;}
.controls ul li {list-style: disc;}

/* Continous Connections */ 
#dash-social  		{line-height: 3em; margin-bottom: 3em; text-transform: uppercase;}
#poll-question		{font-family: DIN-Bold, Arial, Helvetica, sans-serif; margin:1em 2em; float: left; font-size:.99em;}
form.dash-poll ul 	{list-style: none; float: left; padding: 0; margin:0 2em 3em 2em;}
#results          	{display: none; margin:1em;}
form.dash-poll ul li{margin-bottom: 1em;}
.progress .progress-bar.six-sec-ease-in-out { -webkit-transition: width 1s ease-in-out; -moz-transition: width 1s ease-in-out; -ms-transition: width 1s ease-in-out; -o-transition: width 1s ease-in-out; transition: width 1s ease-in-out;}
.progress-value 				{position:absolute; right:-1.5em;}
#results .progress-bar-warning {background-color: #e77c22;}
#results .progress {border-radius:0; height:12px; margin-bottom: 1.5em;  box-shadow:none; -webkit-box-shadow:none;}
.last-salary {border: 1px #a1a1a1 solid; -webkit-appearance: none; -moz-appearance: none; background: #fff url(../images/select-arrow.png) no-repeat 90% center; width: 100%; text-indent: 1em; text-overflow: ""; color: #2e3037; border-radius: 15px; padding: 6px; box-shadow: inset 0 0 1px #d3d3d3; float: left; font-size: .9em; margin-top: 1.5em;}


.bx-shdw {
	-webkit-box-shadow: 0px 5px 46px -9px rgba(0,0,0,1);
-moz-box-shadow: 0px 5px 46px -9px rgba(0,0,0,1);
box-shadow: 0px 5px 46px -9px rgba(0,0,0,1);
}

.instructions h5{ border-bottom: none;
	border-bottom: none;
    font-size: 2em;
    padding: 1em 0em;
    letter-spacing: 0;
} 
.instructions .panel-body {
    border-top: none !important;
}

.instructions .panel-heading {
    padding: 14px 0;
} 
.instructions a:hover, .instructions a:focus {
	text-decoration: none;
}
.instructions .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2em !important;
    color: inherit;
}
.instructions .panel{-webkit-box-shadow: none;
    box-shadow: none;
}
.instructions {}
.glyphicon-ring {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid white;
  color: white;
  display: inline-table;
  text-align: center;
  float: right;
}
/**CSS FOR ICON WITH NO BACKGROUND COLOR**/

.glyphicon-ring .glyphicon-bordered {
  font-size: .4em;
  vertical-align: middle;
  display: table-cell;
}

.glyphicon-ring .glyphicon {
    position: relative;
    top: 0;
    left: 0;

}

.glyphicon-black {
  background:transparent;
  color: #282a32;
  border: 1px solid #282a32;
}
.progress-next .progress-bar {
	background-color: #cc650e;
}
.progress-next {
	border-radius: 24px;
	height: 12px;
}

i.glyphicon-question-sign:hover {
	cursor:help;
}
#question .q-wrp .popover {
	width: 300px
	
}

#question .q-wrp {

    position: absolute;
    top: 1em;
    right: 1em;

}
#question .q-wrp .glyphicon{color:#bad6f7; font-size: 1.5em; }  
#question .q-wrp .popover {
	padding: 0 !important;
}
#question .q-wrp .popover-title {
	text-transform: uppercase;
	text-align: center;
	background: #bad6f7;

}
#question .q-wrp .popover.bottom>.arrow:after {
	    border-bottom-color: #bad6f7;
}
.crossline {
	width: 100%;
	height: 50px;
	background: url(../images/arrows.png);
	background-position: center;
	background-size:contain;
	background-repeat: no-repeat;
	margin: -20px 0 -28px 0;
	z-index: 9999;
	position: relative;
}