.icon-sm{font-size: 1em;}
.icon-md{font-size:2em;}
.icon-lg{font-size:3em;}

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?ik6yo');
    src:    url('../fonts/icomoon.eot?ik6yo#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?ik6yo') format('truetype'),
        url('../fonts/icomoon.woff?ik6yo') format('woff'),
        url('../fonts/icomoon.svg?ik6yo#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-time:before {
    content: "\e903";
}
.icon-icon_document:before {
    content: "\e900";
}
.icon-icon_options:before {
    content: "\e901";
}
.icon-icon_upload:before {
    content: "\e902";
}
.icon-round-question-icon:before {
    content: "\e619";
}
.icon-round-check-icon:before {
    content: "\e61a";
}
.icon-checked-icon:before {
    content: "\e61b";
}
.icon-assessments-icon:before {
    content: "\e600";
}
.icon-back-to-icon:before {
    content: "\e601";
}
.icon-cancel-icon:before {
    content: "\e602";
}
.icon-career-coach-icon:before {
    content: "\e603";
}
.icon-career-planning-icon:before {
    content: "\e604";
}
.icon-chevron-icon:before {
    content: "\e605";
}
.icon-close-deal-icon:before {
    content: "\e606";
}
.icon-dashboard-icon:before {
    content: "\e607";
}
.icon-discovery-icon:before {
    content: "\e608";
}
.icon-download-icon:before {
    content: "\e609";
}
.icon-edit-icon:before {
    content: "\e60a";
}
.icon-events-icon:before {
    content: "\e60b";
}
.icon-favorite-icon:before {
    content: "\e60c";
}
.icon-help-icon:before {
    content: "\e60d";
}
.icon-job-openings-icon:before {
    content: "\e60e";
}
.icon-job-search-icon:before {
    content: "\e60f";
}
.icon-messages-icon:before {
    content: "\e610";
}
.icon-personal-branding-icon:before {
    content: "\e611";
}
.icon-profile-icon:before {
    content: "\e612";
}
.icon-reset-icon:before {
    content: "\e613";
}
.icon-resources-icon:before {
    content: "\e614";
}
.icon-retake-icon:before {
    content: "\e615";
}
.icon-share-icon:before {
    content: "\e616";
}
.icon-tools-icon:before {
    content: "\e617";
}
.icon-webinars-icon:before {
    content: "\e618";
}

