/* Webfont: DIN-Black */@font-face {
    font-family: 'DIN-Black';
    src: url('../fonts/DIN-Black.eot'); /* IE9 Compat Modes */
    src: url('../fonts/DIN-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/DIN-Black.woff') format('woff'), /* Modern Browsers */
         url('../fonts/DIN-Black.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/DIN-Black.svg#DIN-Black') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


/* Webfont: DIN-Bold */@font-face {
    font-family: 'DIN-Bold';
    src: url('../fonts/DIN-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/DIN-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/DIN-Bold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/DIN-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/DIN-Bold.svg#DIN-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}



/* Webfont: DIN-Light */@font-face {
    font-family: 'DIN-Light';
    src: url('../fonts/DIN-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/DIN-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/DIN-Light.woff') format('woff'), /* Modern Browsers */
         url('../fonts/DIN-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/DIN-Light.svg#DIN-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: DIN-Medium */@font-face {
    font-family: 'DIN-Medium';
    src: url('../fonts/DIN-Medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/DIN-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/DIN-Medium.woff') format('woff'), /* Modern Browsers */
         url('../fonts/DIN-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/DIN-Medium.svg#DIN-Medium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


/* Webfont: DIN-Regular */@font-face {
    font-family: 'DIN-Regular';
    src: url('../fonts/DIN-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/DIN-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/DIN-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/DIN-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/DIN-Regular.svg#DIN-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


